/*Création du format de la page*/

body {
    background-image : url("../assets/images/fond.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top left ;
    margin: 0;
    font-family: Arial, sans-serif;
}

.papier {
    background: #E8E0D7;
    width: 85%;
    max-width: 1200px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.imgpied {
    width: 10%;
    margin-left: 20px;
}

/*Séparation en 3 parties */
.section {
    padding: 10px;
    border-bottom: 1px solid ;
    overflow: hidden;
}

.sectionclass {
    display: flex;
    gap: 5px;
    width : 100%;
    min-height: 500px;
}

/* colones */
.column-1 {
    flex-basis: 75%;
    background-color: #F7F7F7;
    padding: 10px;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-2 {
    flex-basis: 25%;
    background-color: #4F5D75;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Format de textes */
h1 {
    font-family: 'arial';
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
    text-justify: auto;
    color :#000000
}

h2 {
    font-family: 'arial';
    font-size: 15px;
    text-decoration: underline;
}

h3 {
    font-family: 'arial';
    text-decoration: underline;
}

h4 {
    font-family: 'arial';
    font-size: 10px;
    text-align: center;
}

p {
    font-family: 'arial';
    text-justify: auto;
    text-align: justify;
    margin-left: 5px;
    margin-right: 10px;
}
/*Format de la navbarre*/

.nav-extended {
    background-color: #6D5A4C;
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px;
}

.navbar a {
    color: white; /* Couleur du texte des liens */
    padding: 14px 20px;
    text-decoration: none;
}

/*Création de la Carte*/
#mapid {
    flex-grow: 1;
    height: 100%;
    min-height: 450px;
    width: 100%;
    border-radius: 5px;
}

.legend {
    background: white;
    padding: 6px 8px;
    font: 14px Arial, sans-serif;
    line-height: 24px;
    color: #555;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0, 2);
    border-radius: 5px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
