/*Création du format de la page*/

body {
    background-image : url("../assets/images/fond.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top left ;
    margin: 0;
    font-family: Arial, sans-serif;
}

.papier {
    background: #E8E0D7;
    width: 85%;
    max-width: 1200px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.imgpied {
    width: 10%;
    margin-left: 20px;
}

/*Séparation en 3 parties */
.section {
    padding: 10px;
    border-bottom: 1px solid ;
    overflow: hidden;
}

.sectionclass {
    display: flex;
    gap: 5px;
    width : 100%;
    min-height: 500px;
}

/* colones */
.column-1 {
    flex-basis: 75%;
    background-color: #F7F7F7;
    padding: 10px;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-2 {
    flex-basis: 25%;
    background-color: #4F5D75;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Format de textes */
h1 {
    font-family: 'arial';
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
    text-justify: auto;
    color :#000000
}

h2 {
    font-family: 'arial';
    font-size: 15px;
    text-decoration: underline;
}

h3 {
    font-family: 'arial';
    text-decoration: underline;
}

h4 {
    font-family: 'arial';
    font-size: 10px;
    text-align: center;
}

p {
    font-family: 'arial';
    text-justify: auto;
    text-align: justify;
    margin-left: 5px;
    margin-right: 10px;
}
/*Format de la navbarre*/

.nav-extended {
    background-color: #6D5A4C;
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px;
}

.navbar a {
    color: white; /* Couleur du texte des liens */
    padding: 14px 20px;
    text-decoration: none;
}

/*Création de la Carte*/
#mapid {
    flex-grow: 1;
    height: 100%;
    min-height: 450px;
    width: 100%;
    border-radius: 5px;
}

.legend {
    background: white;
    padding: 6px 8px;
    font: 14px Arial, sans-serif;
    line-height: 24px;
    color: #555;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0, 2);
    border-radius: 5px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* Style pour les graphs */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}

#mongraphique1,
#button1 {
    display: none;
}

button {
    font-family: 'arial';
    display: inline-block;
    background-color: #8ec884;
    border-radius: 10px;
    border: 4px #000000;
    color: #000000;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 210px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    width: 230px;
}

/*crée une fenètre pop-up*/
/* Style pour masquer la fenêtre au départ */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 8px;
}

/* Fond noir semi-transparent derrière la popup */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close-btn {
    margin-top: 10px;
    background: #353535;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}